<div class="product-card">
    <a class="product-image" [routerLink]="['/product', product.id]">
        <img [src]="product.imageUrl" alt="{{ product.title }}" />
    </a>
    <div class="product-info">
        <h2>{{ product.title | uppercase }}</h2>
        <div class="price-likes">
            <p>
                <b>{{ selectedPrice | currency: 'EUR' }}</b>
                <select (change)="onSizeSelected($event)" *ngIf="product.size">
                    <option *ngFor="let size of product.size" value="{{ size }}">{{ size }}</option>
                </select>
            </p>
            <p>
                <b>{{ product.likes }} <3</b>
                <button (click)="onAddLike()">Like</button>
            </p>
        </div>
        <button class="favorites-button">Add to favorites</button>
    </div>
</div>
