<div>
    <h1>About</h1>
    <p>
        Welcome to the Sanrio Market project! I am Yves-Robert Estrada, a Bachelor 3 Computer Science student.
        This project was created as a hands-on learning experience to understand the fundamentals of Angular.
        The main goal was to design and develop an online store showcasing a variety of products that we wanted.
        In my case I chose Sanrio plushes. By building this project, I gained valuable skills in Angular, web development.
        Enjoy browsing this little website!. Feel free to check the code as well on my <a href="https://github.com/Arseid/sanrio-plushes">GitHub</a>.
    </p>
</div>
