.products-list-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 1rem 0;
  padding: 0 3rem;
}

.products-list-search-field {
  flex: 1;
  margin-right: 1rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0 3rem;
}

.sort-buttons {
  display: flex;
  gap: 1rem;
}