<div class="products-list-search-container">
    <mat-form-field appearance="outline" class="products-list-search-field" color="warn">
        <mat-label>Search</mat-label>
        <input matInput type="text" id="search" name="search" [(ngModel)]="search" />
    </mat-form-field>
    <div class="sort-buttons">
        <button mat-stroked-button (click)="toggleSortOrder('date')">
            Sort by date ({{ sortDate }})
        </button>
        <button mat-stroked-button (click)="toggleSortOrder('title')">
            Sort by date ({{ sortTitle }})
        </button>
    </div>
</div>
<div class="products-list">
    <ng-container *ngIf="products">
        <div
                *ngFor="let product of (products | sortByDate:sortDate | sortByTitle:sortTitle | filterBySearch:search)"
        >
            <app-product-card [product]="product"> </app-product-card>
        </div>
    </ng-container>
</div>
